In [46]:
from pathlib import Path
current_dir = Path.cwd()

E:\git\machine-learning-option-pricing\historical_data\historical_av_calibrations

In [47]:
from model_settings import ms
csvs = ms.csv_query
for i,f in enumerate(csvs):
    print(f"{i}. {f}")

0. av_calibrated puts 2024-09-01_2024-10-08.csv

In [48]:
import pandas as pd
df = pd.read_csv(csvs[0])
df = df.iloc[:,1:].copy()

In [49]:
df.describe()

,spot_price,theta,rho,kappa,eta,v0,relative_error
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,562.296632,12.406107,-0.046269,2.861129,8.706479,0.054141,0.086867
std,9.499156,18.938358,0.270011,4.653810,8.365058,0.020695,0.026726
min,545.195000,0.068274,-1.000000,0.003619,0.244937,0.017958,0.046431
25%,555.160000,0.126180,-0.140956,0.008135,3.692021,0.040947,0.069091
50%,567.240000,0.624390,-0.038711,0.272515,6.688938,0.049873,0.086220
75%,570.031100,16.618512,0.073048,3.103302,11.511932,0.061373,0.097556
max,572.320000,56.449573,0.353071,18.298542,38.208132,0.100556,0.147108